{% extends 'base.html' %}

{% block content %}

<h1>Menu List</h1>

<h1>Menu of {{res.name}}</h1>
<div class="row">
    {% for menu in menus %}
    
    <div class="col-12">

        <div class="card" style="width: 18rem;">
            <!-- <img src="{{menu.image}}" class="card-img-top" alt="No Image for this Food!"> -->
            <div class="card-body">
              <h5 class="card-title">{{menu.food_name}}</h5>
              <p class="card-text">Price: {{menu.price}}</p>
              <p class="card-text">Limit: {{menu.limit}}</p>
              <a href="#" class="btn btn-link">Add to Cart</a>
            </div>
          </div>
    </div>
    {% endfor %}
    
</div>

{% endblock %}