{% extends 'base.html' %}

{% block content %}

<h2 class="text-center mt-2">About Us</h2>
<hr>

<h4>Developed, Designed and Tested By:</h4>
<p>We are group of 3 friends pursuing undergraduate from Indian Institute of Information Technology , Design and Manufacturing , Chennai who are vastly interested in creating new ideas with interest.</p>
<ul>
    <li><a target="none" href="https://www.linkedin.com/in/divyamydv/">Divyam Yadav</a></li>
    <li><a target="none" href="https://www.linkedin.com/in/rohanshingre/">Rohan Shingre</a></li>
    <li><a target="none" href="https://www.linkedin.com/in/anonshubh/">Shubh Pathak</a></li>
</ul>
<p>Contact Us @ thesynergee@gmail.com</p>
<!-- <h2>Contributors: </h2> -->
<p>We encourage people to have a look at our repo on <a target="none" href="https://github.com/anonshubh/digi-connect">Github</a>, and provide us with feedback,suggestions and inputs. They are all very much apppreciated!!</p>


{% endblock %}
