{% extends 'base.html' %}

{% block content %}
<h2 class="text-center mt-2">Terms & Policies</h2>
<a href="{% url 'connect:index' %}">Back To Home</a>
<hr>
<ol>
    <li>If found using Foul or Abusive Language you will be restricted for 5 days.</li>
    <li>If found harassing someone you will be permanently banned and judgement will be done under college rules for Anti Ragging.</li>
    <li>No Spamming Allowed. Spammers will be restricted for 3 days.</li>
    <li>Separate Division has been made in website for Freshers ( 1st year Btech) and other college students as per college's Anti Ragging Policy.</li>
    <li>Privacy Policy: Discloses the type of data you collect along with how it is stored and managed. This is a policy every arts organization should have.</li>
    <li>Terms of Service (TOS) Policy: Defines the rules by which an individual agrees to use a service. These are often called Terms of Use or Terms and Conditions. Although not always required by law, they are typically legally binding agreements that certainly help protect your organization and users.</li>
    <li>Disclaimer Policy: Indicates a site owner is not responsible for advice or information and limits liability. If your site includes content of a technical or legal nature, this is a must-have policy. Interestingly enough, this is one of the policies you’ll often find embedded into individual page alongside the respective content in addition to a general policy page or section.</li>
</ol>



{% endblock %}